unpackaged/document-generation-portwood/flows/Generate_Admissions_Document_Portwood_DocGen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_AdmissionsExtract_Data_Mapper</name>
        <label>Call AdmissionsExtract Data Mapper</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CallDataMapper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Admissions_Document_With_Data_Mapper_Portwood_DocGen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dataMapperName</name>
            <value>
                <stringValue>AdmissionsExtract</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CallDataMapper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Admissions_Document_PDF_Portwood_DocGen</name>
        <label>Generate Admissions Document - PDF (Portwood DocGen)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>portwoodglobal__DocGenFlowAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToRecord</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Get_Portwood_DocGen_Template_PDF.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>portwoodglobal__DocGenFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Admissions_Document_Portwood_DocGen</name>
        <label>Generate Admissions Document (Portwood DocGen)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>portwoodglobal__DocGenFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_AdmissionsExtract_Data_Mapper</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToRecord</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Get_Portwood_DocGen_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>portwoodglobal__DocGenFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Admissions_Document_With_Data_Mapper_Portwood_DocGen</name>
        <label>Generate Admissions Document - With Data Mapper (Portwood DocGen)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>portwoodglobal__DocGenFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Portwood_DocGen_Template_PDF</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonData</name>
            <value>
                <elementReference>Call_AdmissionsExtract_Data_Mapper.responseDataJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveToRecord</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Get_Portwood_DocGen_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>portwoodglobal__DocGenFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Flow_Automation_Disabled</name>
        <label>Is Flow Automation Disabled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Portwood_DocGen_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Disable_Flow_Automations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate Admissions Document - Portwood DocGen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Admissions Document - Portwood DocGen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Portwood_DocGen_Template</name>
        <label>Get Portwood DocGen Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Admissions_Document_Portwood_DocGen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admissions - DOCX</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>portwoodglobal__DocGen_Template__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portwood_DocGen_Template_PDF</name>
        <label>Get Portwood DocGen Template - PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Admissions_Document_PDF_Portwood_DocGen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admissions - PDF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>portwoodglobal__DocGen_Template__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Flow_Automation_Disabled</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationDecision</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ApplicationDecision</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
