unpackaged/document-generation-salesforce/flows/Generate_Admissions_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Flow_Automation_Disabled</name>
        <label>Is Flow Automation Disabled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Document_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Disable_Flow_Automations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate Admissions Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Admissions Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Document_Generation_Process_Record</name>
        <label>Create Document Generation Process Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Document_Generation_Process_Record_PDF</targetReference>
        </connector>
        <inputAssignments>
            <field>DataRaptorInput</field>
            <value>
                <stringValue>{&quot;recordId&quot;:&quot;{!$Record.ApplicationId}&quot;}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocGenApiVersionType</field>
            <value>
                <stringValue>Advanced</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentInputType</field>
            <value>
                <stringValue>DocumentTemplate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentTemplateId</field>
            <value>
                <elementReference>Get_Document_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceObject</field>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestText</field>
            <value>
                <stringValue>{&quot;templateContentVersionId&quot;: &quot;{!Get_Document_Template_Content_Document.LatestContentVersionId}&quot;, &quot;title&quot;: &quot;Admissions Letter - DOCX&quot;, &quot;keepIntermediate&quot;: false}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Generate</stringValue>
            </value>
        </inputAssignments>
        <object>DocumentGenerationProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Generation_Process_Record_PDF</name>
        <label>Create Document Generation Process Record - PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DataRaptorInput</field>
            <value>
                <stringValue>{&quot;recordId&quot;:&quot;{!$Record.ApplicationId}&quot;}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocGenApiVersionType</field>
            <value>
                <stringValue>Advanced</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentInputType</field>
            <value>
                <stringValue>DocumentTemplate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentTemplateId</field>
            <value>
                <elementReference>Get_Document_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceObject</field>
            <value>
                <elementReference>$Record.ApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestText</field>
            <value>
                <stringValue>{&quot;templateContentVersionId&quot;: &quot;{!Get_Document_Template_Content_Document.LatestContentVersionId}&quot;, &quot;title&quot;: &quot;Admissions Letter - PDF&quot;, &quot;keepIntermediate&quot;: false}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>GenerateAndConvert</stringValue>
            </value>
        </inputAssignments>
        <object>DocumentGenerationProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Document_Template</name>
        <label>Get Document Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Template_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admissions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentTemplate</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Template_Content_Document</name>
        <label>Get Document Template Content Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Document_Generation_Process_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Document_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentTemplateContentDoc</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Flow_Automation_Disabled</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationDecision</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ApplicationDecision</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
